:root {
  --main-title-colour: #ffffff;
  --secondary-title-colour: #212121;
  --main-text-color: #757575;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --blue-color: #2196f3;
}
.body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: var(--main-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*  -----------HEADER ------------*/
.header {
  background-color: #ffffff;
}
.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  letter-spacing: 0.03em;
}
.logo {
  color: var(--blue-color);
}

.header-contacts-link,
.footer-contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-title-colour);
}

.header-link:hover,
.header-link:focus {
  color: #2196f3;
}

/* -----------HERO---------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.btn-studio {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--blue-color);
  cursor: pointer;
}
.btn-studio:focus,
.btn-studio:hover {
  background-color: var(--blue-color);
}
.btn-portfolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #ffffff;
  cursor: pointer;
}

.btn-portfolio:focus,
.btn-portfolio:hover {
  background-color: var(--blue-color);
}

/* -----------ADVANTAGES----------- */
.advantages-list {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.advantages-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.advantages-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* -------------work------------- */
.work-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
}
/*-------------- TEAM ---------------*/
.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--secondary-title-colour);
}
.team-profession {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* -----GALLARY--- */
.gallary-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-colour);
}
.gallary-item-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ------------ */
/* -------FOOTER-------- */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  letter-spacing: 0.03em;
}
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #2196f3;
}
.footer-address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: #2196f3;
}
